.header {
  width: 100%;
  background: #7255CE;
  display: flex;
  justify-content: center;
}

.header-box {
  max-width: 1280px;
  width: 100%;
  padding: 20px;
}

.header-link {
  color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  min-height: 100vh;
}